* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    color: #FFF;
    background-color: rgba(0, 51, 102, .7);
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
    /*font-family: 'Crete Round', serif;*/
	padding-top: 20px;
	padding-bottom: 20px;
    font-weight: bold;
    color: #FFF;
    font-size: 55px;
    margin-bottom: 20px;
    text-align: center;
	text-transform: uppercase;
}

h2 {
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
	font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.src_quote {
	text-align: center;
	font-size: x-small;
}

header {
    background: rgba(0, 51, 102, .7);
    position: fixed;
    display: block;
    width: 100%;
    margin: 0;
    top: 0;
    height: 75px;
}

nav {
    display: inline;
}

nav li {
    display: inline;
    /* li nebeneinander anzeigen */
    list-style-type: none;
    /* ohne Aufzï¿½hlungspunkte */
}

nav ul {
	padding-top:1.5%;
    float: right;
    padding-right: 5%;
}

nav li a {
    color: #FFF;
    font-size: 20pt;
    font-weight: bold;
    padding-right: 10px;
    text-decoration: none;
	text-transform: uppercase;
}

nav li a:hover {
    color: grey;
}

.logo {
    height: 100%;
    padding-left: 3%;
}

.video {
    display: block;
    margin: auto;
}

.audio {
    display: block;
    margin: auto;
}

.content {
    padding-top: 75px;
}

div.main_content:nth-child(odd) {
	padding-bottom: 50px;
	padding-top: 30px;
	padding-right:5%;
	padding-left: 5%;
}

div.main_content:nth-child(even) {
	background-color: rgba(0, 51, 102, .3);
	padding-bottom: 40px;
	padding-top: 30px;
	padding-right:5%;
	padding-left: 5%;
}

.main_content ul {
	padding-left:5%;
	padding-bottom:2%;
}

.recepie{
	padding-bottom: 5%;
}

footer {
	background-color: rgba(0, 51, 102, .7);
    height: 5%;
	padding-right:5%;
	padding-left: 5%;
	padding-bottom: 3%;
}

footer ul li {
       display: inline;
       list-style-type: none;
       padding-right: 10px;
}