html, body {
    width: 100%;    /* Body geht ueber die gesamte Bildschirmbreite */
    background-color: rgba(0, 51, 102,.7);
    margin: 0;
    color:#FFF; 
    font-family: arial;
}

header {
    background: rgba(0, 51, 102,.7);					/* Hintergrundfarbe des Headers */									
    position: fixed;
    display: block;
    width: 100%;
    margin: 0;
    top: 0;
    height: 75px;
}

nav {
	display: inline;
}

nav li {
	display: inline; 					/* li nebeneinander anzeigen */
	list-style-type: none; 				/* ohne Aufzï¿½hlungspunkte */
}
 nav ul {
     float: right;
     padding-right: 1%;
 }

nav li a {
	color:#FFF;  
    font-size: 20pt;     
    font-weight: bold;
    padding-right: 10px;
    text-decoration: none;
}

nav li a:hover {
    color: grey;
}

.logo {
    height: 100%;
    padding-left: 1%;
}

.video {
    display: block;
    margin: auto;
}

.audio {
    display: block;
    margin: auto;
}

.content {
    padding-top: 75px;
}

.main_content{					
   // background: rgba(100, 255, 255,.2);	
}

footer {
	height: 5%;
    background: rgba(102, 153, 255,.5);
}


