* {
    padding: 0;
    margin: 0;
}
html {
	overflow-y:auto;
	color: #FFF;
	background-color: rgba(0, 51, 102, .7);
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body {
	position: absolute;
    width: 100%;
    height: 100%;
}

.container {
	background-color: rgba(0, 51, 102, .7);
	position: absolute;
}

h1 {
    /*font-family: 'Crete Round', serif;*/
	padding-top: 20px;
	padding-bottom: 20px;
    font-weight: bold;
    color: #FFF;
    font-size: 55px;
    margin-bottom: 20px;
    text-align: center;
	text-transform: uppercase;
}

h2 {
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3 {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
	font-style: italic;
    text-transform: uppercase;
    text-align: center;
}




.src_quote {
	text-align: center;
	font-size: x-small;
}

header {
    background: rgba(0, 51, 102, .7);
    position: fixed;
    display: block;
    width: 100%;
    margin: 0;
    top: 0;
    height: 82px;
}

.pc_nav {
    display: inline;
}

.pc_nav li {
    display: inline;
    /* li nebeneinander anzeigen */
    list-style-type: none;
    /* ohne Aufzï¿½hlungspunkte */
}

.pc_nav ul {
	padding-top:1.5%;
    float: right;
    padding-right: 5%;
}

.pc_nav li a {
    color: #FFF;
    font-size: 20pt;
    font-weight: bold;
    padding-right: 10px;
    text-decoration: none;
	text-transform: uppercase;
}

.pc_nav li a:hover {
    color: grey;
}


/* mobiles nav */
.mob_nav li {
    list-style-type: none;
}

.mob_nav ul {
	padding: 10px 10px 10px 10px;
}

.mob_nav li a {
    color: #FFF;
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
	text-transform: uppercase;
}

.mob_nav li a:hover {
    color: grey;
}
/* ------------------- */


.logo {
    height: 100%;
    padding-left: 3%;
}

.video {
	width:100%; 
	max-width:500px; 
	height:auto;
	display: block;
	margin: auto;
}

.audio {
    width:100%; 
	max-width:500px; 
	height:auto;
	display: block;
	margin: auto;
}

.content {
    width: auto;
	height: 100%;
    padding-top: 82px;
}

div.main_content:nth-child(odd) {
	padding-bottom: 50px;
	padding-top: 55px;
	padding-right:10%;
	padding-left: 10%;
}

div.main_content:nth-child(even) {
	background-color: rgba(0, 51, 102, .3);
	padding-bottom: 50px;
	padding-top: 55px;
	padding-right:10%;
	padding-left: 10%;
}

.main_content ul {
	padding-left:5%;
	padding-bottom:2%;
}

.recepie{
	padding-bottom: 5%;
}

footer {
	background-color: rgba(0, 51, 102, .7);
    height: 5%;
	padding-right:10%;
	padding-left: 10%;
	padding-bottom: 3%;
}

footer ul li {
       display: inline;
       list-style-type: none;
       padding-right: 10px;
}

.clear {
	clear: both;
	padding-bottom:30px;
}


/* Erster Block: Zutaten und Bild */
.incredients_wrapper {
	float: left;
	width: 70%
}

.brot_wrapper {
	width:30%;
	float: right;
}

.brot_image {
	height: 180px;
}


/* Zweiter Block: Backanleitung */
.backing_wrapper {
	
}


/* Timer Block */
.circle_animation {
	padding-top:5%;
	position: relative;
}

.timer {
	text-align:left;
	padding-left: 50px;
	padding-top: 65px;
	position: absolute;
	font-size:30px;
}

.circle {
	height: 160px;
	width: 160px;
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotating {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 0;
  transition: all 1s linear;
}

#hamburger_icon {
	display: none;
	margin-top:16px;
	margin-right: 6%;
	float:right;
	cursor: pointer;
	height: 49px;
	position: relative;
	width: 52px;
}

#hamburger_icon div {
	background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 7px;
    margin-bottom: 11px;
    width: 50px;
}

#mobile_nav {
	display:none;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 70%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #3e3c3d;
}

#contentLayer{
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}




@media (max-width: 950px) {
	#pc_nav {
		display:none;
	}
	
	#hamburger_icon {
		display:block;
	}
}
	

@media (max-width: 480px) {
	
	html {
		overflow-y:auto;
	}
	
	body {
		overflow-x: hidden;
	}
	
	h1 {
		/*font-family: 'Crete Round', serif;*/
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: bold;
		color: #FFF;
		font-size: 40px;
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}

	h2 {
		color: #FFF;
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 22px;
		color: #FFF;
		font-weight: bold;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 16px;
		color: #FFF;
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
		text-align: center;
	}
	
}



